certifi==2019.3.9
chardet==3.0.4
django-environ==0.4.5
django-mama-cas==2.4.0
django-rosetta==0.9.3
django==2.2
idna==2.8
polib==1.1.0
psycopg2==2.7.4
pytz==2019.1
pyyaml==5.1
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.2
uwsgi==2.0.18
