# General configuration parameters

# Allowed hosts
allowed_hosts:
  - localhost

# Super secret key.
secret_key: 'kjs%45&dshf78sdf@(kg\jbnkl23#+'

# Database definition
databases:
  ## Database for som_cas service
  som_cas:
    name: 'cas_db'
    user: 'cas_db_user'
    password: 'password'
    host: 'host'
    port: 'port'
  ## Database where users will be fetched
  users_db:
    name: 'users_db_name'
    user: 'users_db_user'
    password: 'password'
    host: 'host'
    port: '54321'

# Queues definition
queues:
  defualt:
    UNIX_SOCKET_PATH: 'path/to/redis.sock'
    DB: 0
  high:
    HOST: localhost
    PORT: 6379
    DB: 0
    PASSWORD: 'some-password'
    DEFAULT_TIMEOUT: 360

# Allowed services definitions
## For more options and information see: https://django-mama-cas.readthedocs.io/en/latest/settings.html
mama_cas_services:
  - SERVICE: '^http[s]?://blacklight\.somenergia\.coop:6789[/]?.*'
    CALLBACKS:
      - 'som_cas.callbacks.participa'
    LOGOUT_ALLOW: true
    LOGOUT_URL: 'http://blacklight.somenergia.coop:6789/'
  - SERVICE: '^http[s]?://8hours\.somenergia\.local:9876[/]?.*'
    CALLBACKS:
      - 'som_cas.callbacks.participa'
    LOGOUT_ALLOW: true
    LOGOUT_URL: 'http://8hours.somenergia.local:9876/logout'

custom_registration_services: '8hours'

# Logger definitions
logging:
  ## Level definition for log messages. Can be: DEBUG, INFO, WARNING, ERROR, CRITICAL
  level: 'INFO'
  ## Place where lives the log file
  file: '/var/log/som_cas/som_cas.log'

# Members upload dir
upload_dir: registered_members

# Email notifications
sendgrid_api_key: 'key'

email:
  default_from: 'example@email.com'
  bcc: 'example@email.com'