{% load i18n %}
{% load assembly_event %}

{% language member.lang %}

{% trans "Participa" as participa %}
{% trans "Moltes gràcies per participar-hi!" as thanks %}
{% trans "https://assemblea2024.somenergia.coop" as assembly_link %}
{% trans "https://participa.somenergia.coop/general_assemblies/SomAG2024" as participa_link %}
{% trans "https://drive.google.com/file/d/1icgHJ7us9gXnwnbx8vbha0I38ZgRD9LV/view" as how_to_vote_link %}
{% get_current_language as LANGUAGE_CODE %}

<body style="margin:0; padding:1rem; background-color:#F2F2F2; color: #333333; font-family: Arial,Helvetica,sans-serif;">
        <table width="640" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:640px; width:100%;" bgcolor="#FFFFFF">
            <tr>
                <td align="justify" valign="top" style="padding:10px;">
                  <table width="600" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:600px; width:100%;">
                    {% if assembly.local_group is not None %}
                    <tr>
                        <td align="right" valign="top" style="padding:10px 0 20px 0;">
                            <img src="{{ assembly.local_group.logo.url }}" width="130" height="70" style="margin:0; padding:0; border:none; display:block;" border="0" alt="{% trans "logo de la asamblea 2020" %}">
                        </td>
                    </tr>
                      <tr align="justify" valign="top" style="padding:10px; color: #333333;">
                        <td>
                          <p>{% trans "Hola"%} {{member.first_name}}, </p>

                          <p>{% trans "Ja t'has registrat al cens oficial de l'Assemblea General Extraordinària. Si no ho has fet encara, <b>ja pots votar!</b> :)" %}</p>
                          <p>{% trans "Recorda que en aquesta Assemblea General Extraordinària <b>hi ha establerts aquests uns horaris de votació</b>:" %}</p>
                          <ul>
                            <li>{% trans "<b>De 10 a 10.25 h</b>: Votació del punt de revocació de Sofia Kukulka Luque com a membre d'Intervenció de Comptes." %}</li>
                            <li>{% trans "<b>De 10.30 a 12.45 h</b>: Si s'aprova la baixa de Sofia Kukulka Luque, votació d'una nova persona membre d'Intervenció de Comptes." %}</li>
                            <li>{% trans "<b>De 10 a 12.45 h</b>: Votació del punt de la figura de sòcia de treball més el punt de facultar el Consell Rector per executar i inscriure els acords adoptats." %}</li>
                          </ul>
                          <p>{% trans "Com que has accedit al <a href='https://agvirtual.somenergia.coop/?locale=ca' target='_blank' style='color:#707a1a; text-decoration:underline;'>panell de votacions</a>, et convidem que emetis el teu vot a <b><u>totes les preguntes del panell de votació</u></b>." %}</p>
                          <p>{% trans "Trobaràs tota la informació relativa al dia de l'Assemblea a la pàgina <a href='https://assembleaextra25.somenergia.coop/' target='_blank' style='color:#707a1a; text-decoration:underline;'>web de l'Assemblea</a> i al <a href='https://participa.somenergia.coop/users/sign_in?locale=ca' target='_blank' style='color:#707a1a; text-decoration:underline;'>Participa</a>." %}</p>
                          <p>{% trans "Finalment, <a href='https://next.somenergia.coop/s/gGnKWYXz95fE5XY' target='_blank' style='color:#707a1a; text-decoration:underline;'>aquí</a> t'expliquem pas a pas com votar, en cas d'incidència pots respondre aquest mateix correu." %}</p>
                          <p>{% trans "Moltes gràcies per participar-hi!" %}</p>
                      </td>
                      </tr>
                        <tr align="left" valign="top" style="padding:10px; color: #333333;">
                          <td>
                            <p>
                              {{ assembly.local_group.full_name }}<br>
                              <a href="mailto:{{ assembly.local_group.email }}" target="_blank" style="color:#707a1a; text-decoration:underline;" rel="noopener noreferrer">{{ assembly.local_group.email }}</a><br>
                            </p>
                          </td>
                        </tr>
                    {% else %}
                    <tr> 
                      <td align="right" valign="top" style="padding:10px 0 20px 0;">
                        <img src="{% trans "ASSEMBLY_LOGO_URL" %}" width="130" height="70" style="margin:0; padding:0; border:none; display:block;" border="0" alt="{% trans "ASSEMBLY_LOGO_ALT" %}">
                      </td>
                    </tr>
                    <tr align="justify" valign="top" style="padding:10px; color: #333333;">
                        <td>
                          <p>{% trans "Hola"%} {{member.first_name}}, </p>

                          <p>{% trans "Ja t'has registrat al cens oficial de l'Assemblea General Extraordinària. Si no ho has fet encara, <b>ja pots votar!</b> :)" %}</p>
                          <p>{% trans "Recorda que en aquesta Assemblea General Extraordinària <b>hi ha establerts aquests uns horaris de votació</b>:" %}</p>
                          <ul>
                            <li>{% trans "<b>De 10 a 10.25 h</b>: Votació del punt de revocació de Sofia Kukulka Luque com a membre d'Intervenció de Comptes." %}</li>
                            <li>{% trans "<b>De 10.30 a 12.45 h</b>: Si s'aprova la baixa de Sofia Kukulka Luque, votació d'una nova persona membre d'Intervenció de Comptes." %}</li>
                            <li>{% trans "<b>De 10 a 12.45 h</b>: Votació del punt de la figura de sòcia de treball més el punt de facultar el Consell Rector per executar i inscriure els acords adoptats." %}</li>
                          </ul>
                          <p>{% trans "Com que has accedit al <a href='https://agvirtual.somenergia.coop/?locale=ca' target='_blank' style='color:#707a1a; text-decoration:underline;'>panell de votacions</a>, et convidem que emetis el teu vot a <b><u>totes les preguntes del panell de votació</u></b>." %}</p>
                          <p>{% trans "Trobaràs tota la informació relativa al dia de l'Assemblea a la pàgina <a href='https://assembleaextra25.somenergia.coop/' target='_blank' style='color:#707a1a; text-decoration:underline;'>web de l'Assemblea</a> i al <a href='https://participa.somenergia.coop/users/sign_in?locale=ca' target='_blank' style='color:#707a1a; text-decoration:underline;'>Participa</a>." %}</p>
                          <p>{% trans "Finalment, <a href='https://next.somenergia.coop/s/gGnKWYXz95fE5XY' target='_blank' style='color:#707a1a; text-decoration:underline;'>aquí</a> t'expliquem pas a pas com votar, en cas d'incidència pots respondre aquest mateix correu." %}</p>
                          <p>{% trans "Moltes gràcies per participar-hi!" %}</p>

                        </td>
                    </tr>
                    <tr align="left" valign="top" style="padding:10px; color: #333333;">
                        <td>
                            <p>
                              {% trans "L'equip de Som Energia" %}<br>
                              <a href="https://www.somenergia.coop/ca" target="_blank" style="color:#707a1a; text-decoration:underline;" rel="noopener noreferrer">www.somenergia.coop</a><br>
                              <a href="mailto:participa@somenergia.coop" target="_blank" style="color:#707a1a; text-decoration:underline;" rel="noopener noreferrer">participa@somenergia.coop</a><br>
                            </p>
                        </td>
                    </tr>
                    {% endif %}
                    <tr align="justify" style="padding:10px; color: #333333; font-size: 12px; margin-top: 2rem;">
                      <td>
                        <br>
                        <p><i>[CA] <u>Informació bàsica de protecció de dades.</u> Responsable: <strong>SOM ENERGIA SCCL.</strong> (CIF F55091367). T'informem que les teves dades identificatives i les contingudes en els correus electrònics i fitxers adjunts poden ser incorporades a les nostres bases de dades amb la finalitat de mantenir relacions professionals i/o comercials i, que seran conservades mentre es mantingui la relació. Si ho desitges, pots exercir el teu dret a accedir, rectificar i suprimir les teves dades i d’altres reconeguts normativament dirigint-te al correu emissor o a <a href="mailto:somenergia@delegado-datos.com" target="_blank" style="color:#707a1a; text-decoration:underline;" rel="noopener noreferrer">somenergia@delegado-datos.com</a>. Aquest missatge i qualsevol document que porti adjunt, si s’escau, pot ser confidencial i destinat únicament a la persona, entitat o empresa a qui ha estat enviat.</i></p>
                        <p><i>[ES] <u>Información básica sobre protección de datos.</u> Responsable: <b>SOM ENERGIA, SCCL.</b> (CIF F55091367). Te informamos que tus datos identificativos y los contenidos en los correos electrónicos y ficheros adjuntos pueden ser incorporados a nuestras bases de datos con la finalidad de mantener relaciones profesionales y/o comerciales y, que serán conservados mientras se mantenga la relación. Si lo deseas, puedes ejercer tu derecho a acceder, rectificar y suprimir sus datos y demás reconocidos normativamente dirigiéndose al correo emisor o en <a href="mailto:somenergia@delegado-datos.com" target="_blank" style="color:#707a1a; text-decoration:underline;" rel="noopener noreferrer">somenergia@delegado-datos.com</a>. Este mensaje y cualquier documento que lleve adjunto, en su caso, puede ser confidencial y destinado únicamente a la persona, entidad o empresa a quien ha sido enviado.</i></p>
                      </td>
                    </tr>
                  </table>
                </td>
            </tr>
        </table>
</body>
{% endlanguage %}
